@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Desenvolvido para o estágio da empresa Oak Tecnologia. <br />
        <br />
        Exercício:<br />
        Requisito: 𝐂𝐚𝐝𝐚𝐬𝐭𝐫𝐨 𝐞 𝐥𝐢𝐬𝐭𝐚𝐠𝐞𝐦 𝐝𝐞 𝐩𝐫𝐨𝐝𝐮𝐭𝐨𝐬
        <br />
        𝐂𝐚𝐝𝐚𝐬𝐭𝐫𝐨:
        <br />
        - Formulário com os campos abaixo:
        <br />
        - Nome do produto - campo de texto<br />
        - Descrição do produto - campo de texto<br />
        - Valor do produto - campo de valor<br />
        - Disponível para venda - campo com 2 opções: sim / não<br />
        <br />
        𝐋𝐢𝐬𝐭𝐚𝐠𝐞𝐦:
        <br />
        - Colunas da listagem: nome, valor<br />
        - Ordenação por valor do menor para o maior<br />
        - Quando cadastrar um novo produto é para abrir a listagem automaticamente<br />
        - Deve existir um botão para cadastrar um novo produto a partir da listagem<br />
        <br />
        Feito por Anne Cleres<br />
        GitHub:<br />
        Banco de Dados: SQL<br />
        <br />
        Para acessar é necessário rodar a migration no console do projeto<br />
        <br />
        -add-migration criar_banco<br />
        -update-database<br />
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
